<html>

<head>
  <link href="css/sty.css" rel="stylesheet">

  <style>
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr {
        border: 1px solid #ddd;
        padding: 8px;

    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 6px;
        padding-right: 6px;
        background-color: #a70d48;
        opacity: 0.9;
        color: white;
    }
    </style>
</head>

<body>

  <header>
    <%- include('../partials/_header') %>
  </header>

  <form action="/demoPofileE" method="get" >
    <label style="font-size:22px;">
    <label class="profile" for="firstname"><b>First name :</b> <label style="font-size:19px;"><%=firstName%></label></label><a class="button" style="float: right;" href="/updateProfileEmployer">Update Profile</a><br>
    <label class="profile" for="lastname"><b>Last name :</b> <label style="font-size:19px;"><%=lastName%></label></label><br>
    <label class="profile" for="userName"><b>User name :</b><label style="font-size:19px;"> <%=userName%></label></label><a class="button" style="float: right;" onclick="toDelete()">Delete Profile</a><br>
    <label class="profile" for="email"><b>Email : </b><label style="font-size:19px;"><%=email%> </label></label><br>
    <label class="profile" for="phoneNumber"><b>phone Number/s :</b><label style="font-size:19px;"> <%=phoneNumbers%></label></label><br>
    </label>
    <!--</label></label><a class="button" href="/addEvent">Add Event</a><br>
    </label></label><a class="button" href="/selectEventUp">update Event</a><br>
    </label></label><a class="button" href="/chooseContractorRecruit">Recruit Contractor Worker</a><br>
    </label></label><a class="button" href="/cancelRecruits">cancel Recruits</a><br>
    </label></label><a class="button" href="/chooseEventUpdate">update Recruits</a><br>-->


  
  <table id="events" style="width:70%; cursor:context-menu;" >
    <tr>
      <th>Event Name</th>
      <th>Event Location</th>
      <th>Num Of Guests</th>
      <th>Date</th>
      <th>Time</th>
    </tr>

    <tr>
      <% eve.forEach(function(dat) {%>
          <td><%= dat.eventname %></td>
          <td><%= dat.eventLoc %></td>
          <td><%= dat.numGuest %></td>
          <td><%= dat.date %></td>
          <td><%= dat.Time %></td>

  </tr>
  <% }); %>

  <!--</label></label><a class="button" href="/selectEventUp2">Remove Event</a><br>-->

   
  </table>

    </form>
</body>

</html>