<html>

<head>
    <link href="css/sty.css" rel="stylesheet">
    <style>
        td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr {
            border: 1px solid #ddd;
            padding: 8px;

        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 6px;
            padding-right: 6px;
            text-align: center;
            background-color: #a70d48;
            opacity: 0.9;
            color: white;
        }
        



        td.statisticsTable  {
            border: 0px solid #ddd;
            padding: 6px;
            vertical-align: top;
            cursor:context-menu;
        }

        tr.statisticsTable  {
            border: 0px solid #ddd;
            padding: 6px;
            cursor:context-menu;
        }

        tr:nth-child(even).statisticsTable  {
            background-color: white;
            cursor:context-menu;
        }

        tr:hover.statisticsTable  {
            background-color: white;
            cursor:context-menu;
        }

    </style>
</head>

<body>

    <header>
        <%- include('../partials/_header') %>
    </header>

    <p style="display: block; text-align: center;">
        <table style="width:70%; margin: 0 auto; text-align: center; border-collapse: collapse; cursor:context-menu;">
    <% if(typeof numOfCon != "undefined" && numOfCon) { %>
        <tr class="statisticsTable"><td class="statisticsTable" style="text-align: center; padding-bottom: 15px;" colspan="2"><label class="report" style="text-decoration: underline;"><b>statistics</b></label><br></td></tr>
        <tr class="statisticsTable"><td class="statisticsTable">there are <%= numOfCon %> contractor workers registered to the site<br></td>
        <% if(typeof Hair_Styling != "undefined" && Hair_Styling != null) { %>
            <td class="statisticsTable">there are <%= Hair_Styling %> contractor workers that do Hair styling</td>
            <% }%>
        </tr>
        <% } %>

        <% if(typeof numOfRates != "undefined" && numOfRates) { %>
            <tr class="statisticsTable"><td class="statisticsTable">there are <%= numOfRates[0] %> contractor with no rates<br></td>
                <% if(typeof Makeup != "undefined" && Makeup != null) { %>
                    <td class="statisticsTable">there are <%= Makeup %> contractor workers that do Makeup</td>
                    <% }%></tr>
            <tr class="statisticsTable"><td class="statisticsTable">there are <%= numOfRates[1] %> contractor workers with rate 1<br></td>
                <% if(typeof Event_Stylist != "undefined" && Event_Stylist != null) { %>
                    <td class="statisticsTable">there are <%= Event_Stylist %> contractor workers that do Event Stylist</td>
                    <% }%></tr>
            <tr class="statisticsTable"><td class="statisticsTable">there are <%= numOfRates[2] %> contractor workers with rate 2<br></td>
                <% if(typeof Sitting_Organizer != "undefined" && Sitting_Organizer != null) { %>
                    <td class="statisticsTable">there are <%= Sitting_Organizer %> contractor workers that are Sitting Organizers</td>
                    <% }%></tr>
            <tr class="statisticsTable"><td class="statisticsTable">there are <%= numOfRates[3] %> contractor workers with rate 3<br></td>
                <% if(typeof Photography != "undefined" && Photography != null) { %>
                    <td class="statisticsTable">there are <%= Photography %> contractor workers that do Photography</td>
                    <% }%></tr>
            <tr class="statisticsTable"><td class="statisticsTable">there are <%= numOfRates[4] %> contractor workers with rate 4<br></td>
                <% if(typeof DJ != "undefined" && DJ != null) { %>
                    <td class="statisticsTable">there are <%= DJ %> contractor workers that are DJs</td>
                    <% }%></tr>
            <tr class="statisticsTable"><td class="statisticsTable">there are <%= numOfRates[5] %> contractor workers with rate 5<br></td>
                <% if(typeof Musician != "undefined" && Musician != null) { %>
                    <td class="statisticsTable">there are <%= Musician %> contractor workers that are Musicians</td>
                    <% }%></tr>
            <tr class="statisticsTable">
                <% if(typeof Atraction_Provider != "undefined" && Atraction_Provider != null) { %>
                        <td class="statisticsTable">there are <%= Atraction_Provider %> contractor workers that are Atraction Providers</td>
                        <% }%>
                <% if(typeof Invitation_Printer != "undefined" && Invitation_Printer != null) { %>
                        <td class="statisticsTable">there are <%= Invitation_Printer %> contractor workers that are Invitation Printers</td>
                        <% }%>
                    </tr>
             <tr class="statisticsTable">
                <% if(typeof noJob != "undefined" && noJob != null) { %>
                    <td class="statisticsTable">there are <%= noJob %> contractor workers that haven't set up a service yet</td>
                    <% }%>
                <% if(typeof numOfEmployers != "undefined" && numOfEmployers != null) { %>
                    <td class="statisticsTable">there are <%= numOfEmployers %> employers registered to the site</td>
                    <% }%>
                </tr>
            <% } %>  
        </table>
    </p>
        <label class="report" style="display: block; padding-bottom: 5px; text-align: center; text-decoration: underline;"><b>Reports</b></label><br>

    <form id="myform">

        
        <button type="button" class="report" onclick="getAllEmployers()">get all employers</button>
        <br/>

        <label class="report" style="display: block; text-align: center; text-decoration: underline;"><b>find contractors</b></label>
        <p style="display: block; text-align: center;">
            <input type="radio" id="avgRates" name="contractors" value="avg" onchange="findByRange()" checked><label class="report">with avg rates</label>&emsp;
            <input type="radio" id="byRange" name="contractors" value="range" onchange="findByRange()" ><label class="report">by range of avg rates</label>
                    
            <label class="report">from </label>
        <select class="report" id="from" name="from" onchange="limitTo()" disabled>
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <label class="report"> to </label>
        <select class="report" id="to" name="to" disabled>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
    </p>

        <button type="button" class="report" onclick="getAllContractors()">get all contractors</button>
    </form>

        
        <!-- EMPLOYERS TABLE-->
        <% if(Data!=null && typeof Data !="undefined" && choise == "e"){ %>
        <br/>
            <table id="results" style="width:90%; margin: 0 auto; text-align: center; border-collapse: collapse;">
            <tr id="head">
                    <th>first name</th>
                    <th>last name</th>
                    <th>phone numbers</th>
                    <th>email</th>
            </tr>
                <tr>
                    <% Data.forEach(function(dat) {%>
                    <% if(typeof dat.firstName != undefined && dat.firstName) { %>
                        <td><%= dat.firstName %></td>
                    <% } %>
                    <% if(typeof dat.lastName != undefined && dat.lastName) { %>
                        <td><%= dat.lastName %></td>
                    <% } %>
                    <% if(typeof dat.phoneNumbers != undefined && dat.phoneNumbers) { %>
                        <td><%= dat.phoneNumbers %></td>
                    <% } %>
                    <% if(typeof dat.email != undefined && dat.email) { %>
                        <td><%= dat.email %></td>
                        <% }%>
                </tr>
                <% }); %>

        </table><br/><br/>
        <% } %>


        <!-- CONTRACTOR TABLE-->
        <% if(Data!=null && typeof Data !="undefined" && choise == "c"){ %>
            <br/>  

                <table id="results" style="width:90%; margin: 0 auto; text-align: center; border-collapse: collapse;">
                <tr id="head">
                        <th>first name</th>
                        <th>last name</th>
                        <th>phone numbers</th>
                        <th>email</th>
                        <th>avg rate</th>
                </tr>
                    <tr>
                        <% Data.forEach(function(dat) {%>
                        <% if(typeof dat.firstName != undefined && dat.firstName) { %>
                            <td><%= dat.firstName %></td>
                        <% } %>
                        <% if(typeof dat.lastName != undefined && dat.lastName) { %>
                            <td><%= dat.lastName %></td>
                        <% } %>
                        <% if(typeof dat.phoneNumbers != undefined && dat.phoneNumbers) { %>
                            <td><%= dat.phoneNumbers %></td>
                        <% } else { %>
                            <td>---</td>
                        <% } %>
                        <% if(typeof dat.email != undefined && dat.email) { %>
                            <td><%= dat.email %></td>
                        <% } else { %>
                            <td>---</td>
                        <% } %>
                        <% if(typeof dat.rate != undefined && dat.rate) { %>
                            <td><%= dat.rate %></td>
                        <% } else { %>
                            <td>---</td>
                        <% } %>
                    </tr>
                    <% }); %>
    
            </table><br/><br/><% } %>
            



    <script>        
        function getAllEmployers() {
            document.getElementById("myform").action = "humanResourcesReports-getEmployers";
            document.getElementById("myform").method = "POST";
            document.getElementById("myform").submit();
        }


        function enable(id)
        {
            document.getElementById(id).disabled  = false;
        }
        function disable(id)
        {
            document.getElementById(id).disabled  = true;;
        }
        function findByRange()
        {
            if(document.getElementById("byRange").checked){
                enable("from");
                document.getElementById("from").focus();
                enable("to");}
            else{
                disable("from");
                disable("to");
            }
        }

        function limitTo()
        {
            var from=parseInt(document.getElementById("from").value);
            //get all <option>s in "to"
            var op = document.getElementById("to").getElementsByTagName("option");
            for (var i = 0; i < op.length; i++) {
                (parseInt(op[i].value) < from) 
                    ? op[i].disabled = true 
                    : op[i].disabled = false ;
            }

            //change value of needed:
            if(parseInt(document.getElementById("to").value)<parseInt(document.getElementById("from").value))
                op[from].selected = true;
        }

        function getAllContractors() {
            document.getElementById("myform").action = "humanResourcesReports-getContractors";
            document.getElementById("myform").method = "POST";
            document.getElementById("myform").submit();
        }

    </script>

</body>

</html>