<html>

<head>
  <link href="css/sty.css" rel="stylesheet">
</head>

<body>

  <header>
    <%- include('../partials/_header') %>
  </header>

  <form action="/profileContractorPage" method="post" >
    <label for="firstname"><b>FirstName : <%= firstName %></b></label><br>
    <label for="lastname"><b>LastName : <%= lastName %></b></label><br>
    <label for="userName"><b>userName : <%= userName %></b></label><br>
    <label for="email"><b>email : <%= email %></b></label><br>
    <label for="phoneNumber"><b>phoneNumber : <%= phoneNumber %></b></label><br>
    <label for="gender:"><b>gender : <%= gender %></b></label><br>
    <label for="Job rate:"><b>Job rate : </b></label><br>
    <label for="jobTypes"><b>Job Types : <%= jobTypes %> </b></label><br>
    <label for="Dates not available:"><b>Dates not available : </b></label><br>
    <label for="business place:"><b>business place(Y/N) : <%= addressC %></b></label><br>
    <label for="business address:"><b> business address : <%= address %></b></label><br>
    <label for="countryAreas"><b>areas where i can't work in : <%=countryAreas%></b></label><br>

    </form>
</body>

</html>