<html>

<head>
  <link href="css/sty.css" rel="stylesheet">
</head>

<body>

  <header>
    <%- include('../partials/_header') %>
  </header>

  <form action="/ProfileEmployerPage" method="post" >
    <label style="font-size:22px;">
    <label class="profile" for="firstname"><b>First name :</b> <label style="font-size:19px;"><%=firstName%></label></label><a class="button" style="float: right;" href="/updateProfileEmployer">Update Profile</a><br>
    <label class="profile" for="lastname"><b>Last name :</b> <label style="font-size:19px;"><%=lastName%></label></label><br>
    <label class="profile" for="userName"><b>User name :</b><label style="font-size:19px;"> <%=userName%></label></label><a class="button" style="float: right;" onclick="toDelete()">Delete Profile</a><br>
    <label class="profile" for="email"><b>Email : </b><label style="font-size:19px;"><%=email%> </label></label><br>
    <label class="profile" for="phoneNumber"><b>phone Number/s :</b><label style="font-size:19px;"> <%=phoneNumbers%></label></label><br>
    </label>
    </label></label><a class="button" href="/addEvent">Add Event</a><br>
  </label></label><a class="button" href="/selectEventUp">update Event</a><br>
  </label></label><a class="button" href="/chooseContractorRecruit">Recruit Contractor Worker</a><br>
  


    </form>
</body>

<script>
  function toDelete()
  {
    var r = confirm("are you sure you want to delete your account?");
    if (r == true) 
      window.location.href = "/deleteE";
    
  }
</script>

</html>