<html>

<head>
  <link href="css/sty.css" rel="stylesheet">
  <style>
    td
    {
      border: 1px solid #ddd;
      padding: 8px;
    }
    tr
    {
      border: 1px solid #ddd;
      padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}
    th
    {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 6px;
      padding-right: 6px;
      text-align: center;
      background-color: #a70d48;
      opacity: 0.9;
      color: white;
    }
  </style>
</head>

<body>
 
  <header>
    <%- include('../partials/_header') %>
  </header>
  
<form name="searchingInput" id="searchingInput" action="/searchContractorWorker" method="POST" >
        <h3 class="searching" for="LsearchingBy:" style="font-size:22px;"><b>searching Contractor Worker </b></h3>
        <label class="searching" for="firstname"><b>First Name</label>
        <input class="searching" type="text" placeholder="Enter first name" name="INfirstname" id="INfirstname" 
            oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');" >
        <br>
        <label class="searching" for="lastname"><b>Last Name</label>
        <input class="searching" type="text" placeholder="Enter last name" name="INlastname" id="INlastname" 
            oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');" >
        <br>
        <label class="searching" for="lastname"><b>range of price rates</label>
        <input class="searching" type="text" placeholder="From" name="fromPriceRates" id="fromPriceRates" 
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..?)\../g, '$1');">
        <input class="searching" type="text" placeholder="To" name="toPriceRates" id="toPriceRates" 
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..?)\../g, '$1');">
        <br>  
        <label class="searching" for="jobRateL"><b>Job Rate</b></label>
        <select class="searchingRate" name="jobRate" id="FROMjobRate" >
            <option value="" default selected>from</option>
            <option style="font-size:18px;" value="0">0</option>
            <option style="font-size:18px;" value="1">1</option>
            <option style="font-size:18px;" value="2">2</option>
            <option style="font-size:18px;" value="3">3</option>
            <option style="font-size:18px;" value="4">4</option>
            <option style="font-size:18px;" value="5">5</option>
        </select>
        <select class="searchingRate" name="jobRate" id="TOjobRate" >
            <option value="" default selected> <b>to</b></option>
            <option style="font-size:18px;" value="0">0</option>
            <option style="font-size:18px;" value="1">1</option>
            <option style="font-size:18px;" value="2">2</option>
            <option style="font-size:18px;" value="3">3</option>
            <option style="font-size:18px;" value="4">4</option>
            <option style="font-size:18px;" value="5">5</option>
        </select>
        <br>
        <label class="searching" for="DateA"><b>Date available</b></label>
        <input type="date" name="INdate" id="INdate">
        <br>
        <label class="searching" for="gender"><b>Gender</b></label>
        <input type="radio" id="male" name="INgender" value="male" >
        <label class="searching" for="male" >Male&emsp;</label>
        <input type="radio" id="female" name="INgender" value="female">
        <label class="searching" for="female">Female&emsp;</label>
        <input type="radio" id="other" name="INgender" value="other">
        <label class="searching" for="other">Other</label>
        <br >
        <label class="searching" for="accompaniedS"><b>accompanied</b></label>
        <input type="radio" id="true" name="INaccompanied" value="true" >
        <label class="searching" for="yes">yes&emsp;</label>
        <input type="radio" id="false" name="INaccompanied" value="false">
        <label class="searching" for="no" >no&emsp;</label>
        <br >
        <label class="searching" for="jobTypesL"><b>Job Types</b></label>
        <br >
        <select class="searchingJType" name="jobTypesID" id="jobTypesID" multiple>
            <option class="searching" style="font-size:18px;" value="Hair Styling">Hair Styling</option>
            <option style="font-size:18px;" name= "" value="Makeup">Makeup</option>
            <option style="font-size:18px;" value="Event Stylist">Event Stylist</option>
            <option style="font-size:18px;" value="Sitting Organizer">Sitting Organizer</option>
            <option style="font-size:18px;" value="Photography">Photography</option>
            <option style="font-size:18px;" value="DJ">DJ</option>
            <option style="font-size:18px;" value="Musician">Musician</option>
            <option style="font-size:18px;" value="Atraction Provider">Attraction Provider</option>
            <option style="font-size:18px;" value="Invitation Printer">Invitation Printer</option>
        </select>
        <input type="hidden" id="selectE" name="selectE">   
        <br>
       

        <!-- <select name="searchingBy" id="searchingBy" onChange="myFunction()" >
            <option class="searching" style="font-size:18px;" id='fName'  value="firstname">first name</option>
            <option class="searching" style="font-size:18px;" id='lName' value="lastName">last name</option>
            <option class="searching" style="font-size:18px;" id='jT' value="jobTypes">job Types</option>
            <option class="searching" style="font-size:18px;" id='jR' value="jobRate">job Rate</option>
            <option class="searching" style="font-size:18px;" id='daates' value="dates">dates</option>
            <option class="searching" style="font-size:18px;" id='gender' value="gender" style="display: none;">gender</option>
            <option class="searching" style="font-size:18px;" id='aServices' value="accompaniedServices">accompanied services</option>
            <option class="searching" style="font-size:18px;" id='rP' value="rangePrice">range of price</option>
        </select>-->
    <input type="submit" name="send" value="search" >
    <input type="reset" name="reset1" value="reset">

</form>
<% if(typeof messageNR != "undefined" && messageNR) { %>
  <label class="searching" style="display: block; text-align: center;"><%=messageNR%></label>
<% } else if(contractorFound && typeof contractorFound !="undefined"){ %>
  
  <table id="resultSearching" style="width:90%; margin: 0 auto; text-align: center; border-collapse: collapse;">
    <tr id="head">
      <th>first Name</th>
      <th>last Name</th>
      <th>Gender</th>
      <th>link profile</th>
    </tr>

    <% contractorFound.forEach(function(dataT) { %>
        <tr>
            <% if(typeof dataT.firstName != "undefined" && dataT.firstName) { %>
                <td><%= dataT.firstName %></td>
            <% } %>
            <% if(typeof dataT.lastName != "undefined" && dataT.lastName) { %>
              <td><%= dataT.lastName %></td>
            <% } %>
            <% if(typeof dataT.gender != "undefined" && dataT.gender) { %>
              <td><%= dataT.gender %></td>
            <% } %>

            
        </tr>
    <% }); %>

  </table>
<% } %>


<script >
  function getSelect() {
        document.getElementById("selectE").value = document.getElementById("jobTypesID").value;
        document.getElementById("searchingInput").action = "/searchContractorWorker";
        document.getElementById("searchingInput").method = "POST";
        document.getElementById("searchingInput").submit();
        console.log(document.getElementById("jobTypesID").value);
  }
  
  function Fdates()
  {
    //DATES:
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    //document.write(today);
    document.getElementById("INdate").min = today;
  }
  Fdates();


    
/*function myFunction() {
  var x = document.getElementById("searchingBy").value;
  document.getElementById("demo").innerHTML = "You selected: " + x;  
  if (x == 'gender')
    document.getElementById("selectGender").style.display = 'block';
} */



function show(id) {
    document.getElementById(id).style.display = 'block';
}

function hide(id) {
    document.getElementById(id).style.display = 'none';
}


</script>
</body>

</html>