<html>
<head>
  <link href="css/sty.css" rel="stylesheet">

</head>
<body>

  <header>
    <%- include('../partials/_header') %>
  </header>

<form id="form1" action="/inputupdateEvent" method="POST" >
    <div class="container">
      <p>Please fill in this form the details to update an event</p>
      <hr>
      <br><label id="errorinput"></label><br>
      <br/>
      <label for="eventName"><b>Event Name</b></label>
      <input type="text" placeholder="Enter Event Name" name="eventname" id="eventname" oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');"required>
      <br/>
      <label for="eventLoc"><b>Event Location</b></label>
      <input type="text" placeholder="Enter event location" name="eventloc" id="eventloc" oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '').replace(/(\..?)\../g, '$1');" required>
      <br/>
      <label for="numGuest"><b>Number of guests</b></label>
      <input type="text" placeholder="Enter number of guests" name="numGuest" id="numguest" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..?)\../g, '$1');" required>
      <br/>
      <label for="date"><b>Event date</b></label>
      <input type="date"  name="date" id="date">
      <br/>
      <label for="date"><b>Start time</b></label>
      <input type="time" name="time" id="time">
      <input type="hidden" id="idEvent" name="idEvent">   
      <br/>
      

    </div>
    <button type="button" class="registerbtn" onclick="getSelect()">Update Event</button>

   
</form>
</body>

<script>
   
  if ("<%= suc3 %>" == 'false')
  {
    var l = document.getElementById("errorinput");
    l.innerHTML = "In the date of the event, the contractor not available."
    l.style = "font-size:18px; color: red;"
    newusucc=false;

  }

  function getSelect() {
        document.getElementById("idEvent").value = "<%= _id =%>";
        document.getElementById("form1").action = "/inputupdateEvent";
        document.getElementById("form1").method = "POST";
        document.getElementById("form1").submit();
    }


  
  function dates()
  {
    //DATES:
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    //document.write(today);
    document.getElementById("date").min = today;
  }
  dates();


  function initdit()
  {
        /*
            this function gets the information already in the database for this specific event
        */
       //---event name 
       document.getElementById("eventname").value = "<%= eventname %>";
       //---event location 
       document.getElementById("eventloc").value = "<%= eventLoc %>";
       //---num of guest
       document.getElementById("numguest").value = "<%= numGuest %>";
       //---date
       document.getElementById("date").value = "<%= date %>";
       //--time
       document.getElementById("time").value = "<%= time %>";


      
  }

  initdit();
  

</script>

</html>

