<html>

<head>
  <link href="css/sty.css" rel="stylesheet">

</head>

<body>

  <header>
    <%- include('../partials/_header') %>
  </header>

  <form id="form1" action="/updateRecruit" method="POST">
    <p>Please fill in this form the details to update the recruit</p>
    <br><label id="errorinput"></label>
    <% if ( hasAddress==true ){%>
      <label for="location" style="font-size:18px;">do you want to use the contractor worker address?</label>
      <input type="checkbox" onclick="choose()" style="width: 18px; height: 18px;" name="locationC" id="locationC"
        value="true">
      </br>
      <% } %>
        <label for="location" id="location"><b>enter your location: </b></label>
        <input type="text" name="locationE" id="locationE" value="<%=location%>" required>
        </br>
        <label for="date"><b>Start time</b></label>
        <input type="time" name="time" id="time">
        </br></br>
        <input type="hidden" name="recruitId" value="<%=_id%>">
        <input type="hidden" name="contractorId" value="<%=idC%>">

        <button type="submit" class="registerbtn">Update</button>
        <button type="button" class="registerbtn" href="/profileEmployerPage">cancel</button>


  </form>
</body>

<span id="message" style="color:red"> </span> <br><br>

<script>
  //--location
  if ("<%= location %>" != "null") {
    document.getElementById("location").value = "<%= location %>";
  }
  //--time
  document.getElementById("time").value = "<%= startTime %>";

  function choose() {
    if ((document.getElementById("locationC").checked) == false) {
      document.getElementById("locationE").style.display = "block";
      document.getElementById("location").style.display = "block";
      //document.getElementById("location").style.required = false;
    }
    else {
      document.getElementById("locationE").style.display = "none";
      document.getElementById("location").style.display = "none";
    }
  }

</script>

</html>